<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoMontageOS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <AutoMontageOS.My.MySettings>
            <setting name="TB_VideoClips" serializeAs="String">
                <value />
            </setting>
            <setting name="TB_ViewerTitle" serializeAs="String">
                <value>VLC Viewer</value>
            </setting>
            <setting name="TB_NumClips" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TB_PercNew" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="TB_PercOld" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TB_PercPop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TB_PercUnPop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TB_AgeNew" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="TB_IntroClip" serializeAs="String">
                <value />
            </setting>
            <setting name="TB_AlwaysPlay" serializeAs="String">
                <value />
            </setting>
            <setting name="VLC_FormWidth" serializeAs="String">
                <value>1296</value>
            </setting>
            <setting name="VLC_FormHeight" serializeAs="String">
                <value>759</value>
            </setting>
            <setting name="CB_EasyPeazy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CB_Dupes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB_Lock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RCM_DS_XML" serializeAs="String">
                <value />
            </setting>
        </AutoMontageOS.My.MySettings>
    </userSettings>
</configuration>